// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

body.session {
  padding-top: 0;
  background-image: url(/img/vietnam-cityscape-komp.jpg);
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: cover;
}

.session p {
  color: $gray-800;
}

.session-content {
  background: white;

  box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.2);
}

@media (min-width: 992px) {
  body.session {
    padding-top: 0;
    padding-left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
}

.session h1 {
  font-size: 4rem;
  line-height: 5.5rem;
}

.session h1.inline {
  @include body-font;
  text-transform: none;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

h1.highlight {
  color: $red-special;
}

.fa-li {
  left: -1.9em;
  font-size: 1.5rem;
  color: #006da7;
}

.session h2 {
  font-size: 2rem;
}

.session .apply-button {
  width: 100%;
  height: auto;
  background-color: $button-color;
  padding: 1rem;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.2);
}

.session .btn-text-header {
  @include body-font;
  font-size: 1.3rem;
  text-align: center;
}

.apply-button .btn-text-header {
  @include body-font;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  color: $gray-800;
}

.apply-button .btn-text-subheader {
  font-size: 0.8rem;
  text-align: center;
}

.session .subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
}

.list-social-icons {
  a {
    color: $gray-700;
    &:hover {
      color: $primary;
    }
    .fa-lg {
      font-size: 1.75rem;
    }
  }
}

.list-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

//Bootstrap overrides
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 810px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 810px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
